
<div class="bg-gray-100 dark:bg-gray-900">
    <form [formGroup]="shippingAdress">
    <div class="w-full max-w-3xl mx-auto p-8">
        <div class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md border dark:border-gray-700">

            <!-- Shipping Address -->
            <div class="mb-6">
                <h2 class="text-xl font-semibold text-gray-700 dark:text-white mb-2">Shipping Address</h2>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-gray-700 dark:text-white mb-1">City</label>
                        <input formControlName ="city" type="text" id="first_name" class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
                    </div>
                    <div>
                        <label class="block text-gray-700 dark:text-white mb-1">Details</label>
                        <input formControlName ="details" type="text" id="last_name" class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
                    </div>
                </div>

                <div class="mt-4">
                    <label class="block text-gray-700 dark:text-white mb-1">Phone</label>
                    <input type="number" formControlName ="phone" id="address" class="w-full rounded-lg border py-2 px-3 dark:bg-gray-700 dark:text-white dark:border-none">
                </div>
            </div>
            <div class="mt-8 flex justify-end">
                <button class="bg-teal-500 text-white px-4 py-2 rounded-lg hover:bg-teal-700 dark:bg-teal-600 dark:text-white dark:hover:bg-teal-900" (click)="onlinePayment(shippingAdress)">Procced to checkout</button>
            </div>
        </div>
    </div>
    </form>
</div>
